{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        org.clojure/clojurescript {:mvn/version "1.11.54"}
        org.clojure/spec.alpha {:mvn/version "0.5.238"}
        io.github.HendrikLevering/test.contract {:git/sha "3e961e6ab6a418b1385d1debb9944a342f9c6bf6"}
        io.github.HendrikLevering/cljs-eval {:git/sha "41f590db2130642c9b9916e05417f4814e2937f1"}}
 :aliases
 {:test
  {:extra-paths ["test"]
   :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                io.github.cognitect-labs/test-runner
                {:git/tag "v0.5.1" :git/sha "dfb30dd"}}}
  :build {:deps {io.github.clojure/tools.build
                 {:mvn/version "0.10.5"}
                 slipset/deps-deploy {:mvn/version "0.2.2"}}
          :ns-default build}}}
